DirectoryIndex index.php
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} !^localhost
RewriteCond %{HTTP_HOST} !^127\.0\.0\.1
RewriteCond %{HTTP_HOST} !\.test$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

ErrorDocument 404 /404.html

<IfModule mod_expires.c>
    ExpiresActive On
    
    # Nie cachuj plików dynamicznych
    ExpiresByType text/html "access plus 0 seconds"
    ExpiresByType application/x-httpd-php "access plus 0 seconds"
    
    # Standardowe zasoby statyczne
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType video/mp4 "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 year"
    ExpiresByType text/javascript "access plus 1 year"
    ExpiresByType application/x-javascript "access plus 1 year"
    ExpiresByType font/ttf "access plus 1 year"
    ExpiresByType font/woff "access plus 1 year"
    ExpiresByType font/woff2 "access plus 1 year"
    
    # Krótki czas dla reszty
    ExpiresDefault "access plus 1 minute"
</IfModule>

# Agresywne Wyłączenie LiteSpeed Cache (LH.pl)
<IfModule litespeed>
    CacheDisable public /
    CacheDisable private /
</IfModule>

# Wymuszenie nagłówków braku cache w HTTP
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json font/ttf font/otf image/svg+xml
</IfModule>
